<?xml version="1.0"?>
<robot name="my_camera"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Define materials once -->
        <material name="camera_lens">
            <color rgba="0.1 0.1 0.1 1.0" />
        </material>
        <material name="PCB">
            <color rgba="0.0 0.6 0.2 1.0" />
        </material>

    <xacro:macro name="camera" params="camera_name world_link_name *origin">
        <!-- Camera Link -->
        <link name="${camera_name}_link">
            <visual>
                <geometry>
                    <box size="0.0015 0.035 0.025" />
                </geometry>
                <material name="PCB" />
            </visual>
            <visual>
                <origin xyz="0.0025 0 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="0.005" length="0.004" />
                </geometry>
                <material name="camera_lens" />
            </visual>
            <inertial>
                <mass value="0.01" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="1e-6" iyy="1e-6" izz="1e-6" ixy="0.0" ixz="0.0" iyz="0.0" />
            </inertial>
        </link>

        <joint name="${camera_name}_optical_joint" type="fixed">
            <parent link="${camera_name}_link" />
            <child link="${camera_name}_link_optical" />
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
        </joint>

        <link name="${camera_name}_link_optical"></link>

        <gazebo reference="${camera_name}_link">
            <!--material>Gazebo/Orange</material -->

            <sensor type="camera" name="${camera_name}_sensor">
                <always_on>true</always_on>
                <update_rate>30.0</update_rate>
                <visualize>true</visualize>
                <camera>
                    <camera_info>${camera_name}/camera_info</camera_info>
                    <horizontal_fov>1.047</horizontal_fov> <!-- ~60 degrees UPDATE THESE VALUES-->
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>20.0</far>
                    </clip>
                </camera>
                <topic>${camera_name}/image_raw</topic>
                <gz_frame_id>${camera_name}_link_optical</gz_frame_id>
            </sensor>
        </gazebo>


        <!-- Joint from world to camera_link -->
        <joint name="${camera_name}_to_parent_joint" type="fixed">
            <child link="${camera_name}_link" />
            <parent link="${world_link_name}" />
            <xacro:insert_block name="origin" />
        </joint>
    </xacro:macro>

</robot>